@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0px;
}

h3 {
  color: white;
  font-weight: 700;
  font-size: 40px;
  margin: 0px;
}

.container .content .formulario-register {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
}

.container {
  background: red;
  height: 60vh;
  width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto;
}

.container .content #formulario-register .correo {
  margin: 10px;
}

.container .content #formulario-register .pass {
  margin: 10px;
}

.container .content #formulario-register #name-input {
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 30px;
}

.container .content #formulario-register #last-name-input {
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 30px;
}

.container .content #formulario-register #email-input {
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 30px;
}

.container .content #formulario-register #pass-input {
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 30px;
}

::placeholder {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
}

.container .content {
  text-align: center;
}

label {
  display: block;
  color: white;
  font-weight: 500;
  margin: 10px;
}

.button-register {
  display: block;
  margin: 10px;
}

.button-register button {
  background: white;
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  color: red;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

.button-regresar button {
  background: white;
  border-style: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  color: red;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
}

.button-register button:active {
  background: rgb(255, 176, 176);
}

.button-regresar button:active {
  background: rgb(255, 176, 176);
}

.container .content #formulario-register .pass-recovery {
  color: white;
  text-decoration: none;
}
